<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hitqz.sjtc.mapper.mysql.WorkRecordInfoMapper">

    <insert id="saveWorkRecordBatch">
        INSERT INTO `work_record_info`( `id`, `batch_operation_id`, `device_id`, `opt_process`, `res_type`, `res_value`, `handle_status`, `create_time`, `modify_time` )
        VALUES
        <foreach collection="lists" item="record"  separator=",">
           (  #{record.id},
             #{record.batchOperationId},
            #{record.deviceId},
            #{record.optProcess},
            #{record.resType},
            #{record.resValue},
            #{record.handleStatus},
            #{record.createTime},
            #{record.modifyTime} )
        </foreach>
    </insert>
</mapper>
